
<section id="header">

    <nav class="navbar navbar-expand-lg bg-dark sticky-top">

        <a class="navbar-brand" href="#"><i class="fab fa-github"></i>Github Profile Search</a>
  
        <div class="mx-auto" id="navbarSupportedContent">

          <ul class="navbar-nav ">
            <li class="nav-item  ">
              <a class="nav-link"  routerLink="/profile" routerLinkActive='active'>Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/repositories" >Repositories</a>
            </li>
           
          </ul>

        </div>
      </nav>

</section>

