
.navbar-brand ,.navbar-nav a{
   
    color:#fff;
    margin:0 20px; 
    margin-top:10px;
    margin-bottom: 10px;
}

.fa-github{
    font-size:2.7em;
    margin-right:10%;
}
.navbar-toggler{
    color:#fff;
    border:none!important;
    outline:none!important;

}
.navbar-brand:hover{
    color: #fff;
    font-weight: 600;
}

.navbar-toggler .fa{
    color:#fff;
    font-size:26px;
}

.nav-link:hover{
    font-weight: 600;
    border-bottom:1px solid #fff;
    margin-bottom: -1px;

}